@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #504d4d;
  color: #fff8f8;
  font-family: 'Lora';
}
#container {
  max-width: 930px;
  width: 80%;
  margin: auto;
  margin-top: 70px;
}

.text-accent {
  color: #e1e89a;
}
a {
  color: #e1e89a;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}
a:hover {
  opacity: 0.85;
}

h1 {
  font-size: 42px;
  font-weight: 400;
  padding-top: 30px;
  text-align: center;
  border-top: 3px solid #e1e89a;
  padding-top: 30px;
  margin-bottom: 80px;
}

section {
  margin-top: 40px;
  margin-bottom: 80px;
}

h3 {
  font-size: 28px;
  font-weight: 500;
  color: white;
  text-decoration: underline;
  text-decoration-color: #e1e89a;
}
p {
  font-size: 24px;
}
.text-secondary {
  color: #d9d4d4;
}

.img-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}
img {
  border: 0.5px solid black;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

.collection {
  width: 50%;
}
.caption {
  text-align: center;
  font-size: 18px;
  color: lightgray;
}
.stat {
  font-weight: 700;
}

#img-travel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.abstract-img {
  width: 80px;
  background: blue;
  height: 55px;
  margin: 5px 10px;
  background: #666464;
}

/* .svg-container {
  position: relative;
  padding-top: 100%;
}
.svg-container > svg {
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid black;
  overflow: visible;
} */

.contour-container {
  width: 100%;
}
#contour {
  background: #3e3c3c;
}

.graph-container {
  border: 1px solid black;
}

.contour-overlay-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  border: 1px solid black;
}
#imgContour {
  width: 100%;
  position: absolute;
  max-width: none;
  z-index: -1;
  filter: blur(6px);
}

#subjectSel {
  font-size: 22px;
  font-family: 'Lora';
  background: #3e3a3a;
  color: #e1e89a;
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}
#dropdown-container {
  margin-left: 20px;
}
#subjectSel option {
  font-family: 'Lora';
}

#imgBorder {
  border-top: 1px solid #837b7b;
  padding-top: 25px;
}
